.App {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  background-image: url("../public/toptal-blog-image-1551789018937-2c4fb8987614adecf74310f8beff1ae7.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
}

h1,
h5,
p {
  color: rgb(211, 47, 47);
  text-align: center;
}

button {
  width: 100px;
}
